NODE_ENV=   # development or production
PORT=

DATABASE_URL=database_connection_string
DIRECT_URL=database_connection_string_without_pgbouncer

JWT_REFRESH_SECRET=16_byte_random_string
JWT_ACCESS_SECRET=32_byte_random_string

DOMAIN=domain_for_cookies # optional to run in localhost, but required for production

CLIENT_DOMAIN_URL=frontend_url_for_cors_and_cookies